<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saludencamino.myapplication">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:screenOrientation="portrait"
        android:icon="@mipmap/ic_launcher"
        android:label="Amanda v2.0"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <activity
            android:name=".ecg_2"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".ecg"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".glucosa2"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".glucosa"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".Saturacion_2"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".TemperaturaCorporal"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".PresionSanguinea_2"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".Saturacion"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".TemperaturaCorporal_2"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".PresionSanguinea"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".homeActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>